h1 {
  font-family: arial;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  background: #eee;
  margin: 5px;
}

#gamesList {
  border: 1px solid gray;
  border-radius: 5px;
  float: left;
  margin: 5px;
}

#gamesList div {
  border: 1px solid gray;
  border-radius: 5px;  
  padding: 5px;
  margin: 5px;
  box-shadow: 2px 2px gray;
  font-family: sans-serif;
  font-size: 14px;
  background: #eee;
}

#goToStartScreen2,
#goToStartScreen1,
#goToStartScreen3 {
  border: 1px solid gray;
  border-radius: 5px;  
  padding: 5px;
  margin: 5px;
  box-shadow: 2px 2px gray;
  font-family: sans-serif;
  font-size: 14px;
  background: #eee;
  float: left;
}

#goToStartScreen1:hover,
#goToStartScreen2:hover,
#goToStartScreen3:hover {
  box-shadow: 1px 1px gray;
  cursor: pointer;
}

#gamesList div:hover {
  box-shadow: 1px 1px gray;
  cursor: pointer;
}

#field tr {
  height: 35px;
}
#field td {
  width: 35px;
  border: 1px solid gray;
}

#field td:hover {
  background: #ccc;
}
