h1 {
  font-family: arial;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  background: #eee;
  margin: 5px;
}

#gamesList {
  border: 1px solid gray;
  border-radius: 5px;
  float: left;
  margin: 5px;
}

#gamesList div {
  border: 1px solid gray;
  border-radius: 5px;  
  padding: 5px;
  margin: 5px;
  box-shadow: 2px 2px gray;
  font-family: sans-serif;
  font-size: 14px;
  background: #eee;
}

.go-to-start-screen {
  border: 1px solid gray;
  border-radius: 5px;  
  padding: 5px;
  margin: 5px;
  box-shadow: 2px 2px gray;
  font-family: sans-serif;
  font-size: 14px;
  background: #eee;
  float: left;
}

.go-to-start-screen:hover {
  box-shadow: 1px 1px gray;
  cursor: pointer;
}

#gamesList div:hover {
  box-shadow: 1px 1px gray;
  cursor: pointer;
}

#field tr {
  height: 35px;
}
#field td {
  width: 35px;
  border: 1px solid gray;
  box-shadow: -3px 2px 5px #fff inset;
}

#field td:hover {
  box-shadow: 3px -2px 5px #fff inset;
}

.empty,
.one,
.two,
.three,
.four,
.five {
  border-radius: 25px;
  border: 0px solid white;
  box-shadow: -3px 2px 5px #fff inset;
}

.empty {
  background: #fff;
}

.one {
  background: #6633ff;
}

.two {
  background: #0066ff;
} 
.three{
  background: #ff66ff;
}

.four{
  background: #ff9933;
}
.five {
  background: #009933;
}


#order {
	display: block;
	float: right;
	margin: 20px;
}

#order li {
	width: 30px;
	height: 30px;
	display: block;
	float: left;
}
